.contentWrapper {
    margin: 10px 10px 10px 10px;
}

.contentWrapper button{
    width:40%;
}

.contentWrapper input{
    text-align: right;
    width:60%;
}

.contentWrapper label{
    display:inline-block
}